@using WorkShopERP.Services

@page "/"

@attribute [Authorize]

@inject UserService userService;

@{

    var principal = userService.GetUserAsync()
                        .Result;

}

<PageTitle>Inicio</PageTitle>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3>Bienvenido!</h3>

            <p>Bienvenido @principal?.Identity?.Name a nuestra aplicacion</p>
        </div>
    </div>
</div>
