@page "/"

<PageTitle>Inicio</PageTitle>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3>Bienvenido!</h3>

            <p>Bienvenido a nuestra aplicacion</p>
        </div>
    </div>
</div>
