@inherits LayoutComponentBase

<PageTitle>WorkShopERP</PageTitle>

<div>
    <div>
        <NavMenu />
    </div>

    <main class="margin-top">
        <article>
            @Body
        </article>
    </main>
</div>
